In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Reading the data file in df

**Read the csv data file and disply its head**

In [2]:
# Code here please

In [35]:
df = pd.read_csv('mammographic_masses_data_clean.csv')
df.head()

   BI-RADS  Age  Shape  Margin  Density  Target
0        5   67      3       5        3       1
1        5   58      4       5        3       1
2        4   28      1       1        3       0
3        5   57      1       5        3       1
4        5   76      1       4        3       1

**How many data entries you have?**

In [36]:
# Code here please

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   BI-RADS  830 non-null    int64
 1   Age      830 non-null    int64
 2   Shape    830 non-null    int64
 3   Margin   830 non-null    int64
 4   Density  830 non-null    int64
 5   Target   830 non-null    int64
dtypes: int64(6)
memory usage: 39.0 KB

**Which type of cancer is common?**

In [38]:
# Code here please

In [39]:
df['Target'].value_counts()

0    427
1    403
Name: Target, dtype: int64

**Reproduce the output to show some statistics**

In [8]:
# Code here please

In [40]:
df.describe()

          BI-RADS         Age       Shape      Margin     Density      Target
count  830.000000  830.000000  830.000000  830.000000  830.000000  830.000000
mean     4.393976   55.781928    2.781928    2.813253    2.915663    0.485542
std      1.888371   14.671782    1.242361    1.567175    0.350936    0.500092
min      0.000000   18.000000    1.000000    1.000000    1.000000    0.000000
25%      4.000000   46.000000    2.000000    1.000000    3.000000    0.000000
50%      4.000000   57.000000    3.000000    3.000000    3.000000    0.000000
75%      5.000000   66.000000    4.000000    4.000000    3.000000    1.000000
max     55.000000   96.000000    4.000000    5.000000    4.000000    1.000000

** Do the Train Test Split** using test size 0.3 and random states default value.

In [41]:
from sklearn.model_selection import  train_test_split

In [42]:
X = df.drop('Target', axis=1)
y = df['Target']

In [43]:

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y, test_size=0.30, random_state=101)

### Decision Tree
**Importing decision tree classifier and create its instance**

In [44]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()

**Fit the training data to the model**

In [24]:
# Code here please

In [45]:
dtree.fit(X_train, y_train)

DecisionTreeClassifier()

**Do the predistions for your test data and print the results as given below**

In [46]:
# Code here please
predictions = dtree.predict(X_test)

In [47]:
# Code here please
from sklearn.metrics import confusion_matrix, classification_report

In [48]:
# Code here please
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))

[[106  27]
 [ 41  75]]
              precision    recall  f1-score   support

           0       0.72      0.80      0.76       133
           1       0.74      0.65      0.69       116

    accuracy                           0.73       249
   macro avg       0.73      0.72      0.72       249
weighted avg       0.73      0.73      0.72       249